@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

@tailwind utilities;

[x-cloak] {
    display: none;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.text-mode-vertical {
    writing-mode: vertical-rl;
}

.clip-b-bookmark {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        50% calc(100% - 10px),
        0% 100%,
        0% 0%
    );
}

.clip-b-arrow {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 10px),
        50% 100%,
        0% calc(100% - 10px),
        0% 0%
    );
}

.custom-scrollbar {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        // background-color: #3b71ca;
        background-color: transparent;
        border: 2px solid #111827;
        border-radius: 5px;
    }
}
