.welcome-book {
    transform-style: preserve-3d;
    perspective: 2000px;

    --x: 0;
    --y: 0;
    --z: 0;

    @apply grid grid-cols-2 aspect-[16/5] origin-center;
    @apply transition-transform duration-75;

    transform: rotateX(calc(var(--x, 0) * 1deg))
        rotateY(calc(var(--y, 0) * 1deg)) rotateZ(calc(var(--z, 0) * 1deg))
        scale(0.9) translateX(-25%);

    & > * {
        @apply row-start-1 col-span-1 row-span-1;
        @apply bg-base-100 border;
        @apply grid place-items-center;
        @apply transition-transform duration-1000;
        grid-area: 1 / 1;

        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    .front-cover {
        @apply col-start-2 origin-left pointer-events-none;
        transform: rotateY(-10deg) scaleX(0.94);
    }
    .inner-left {
        @apply col-start-1 origin-right;
        transform: rotateY(180deg) scaleX(0.94);
    }
    .inner-right {
        @apply col-start-2 origin-left;
    }

    &.active {
        transform: rotateX(calc(var(--x, 0) * 1deg))
            rotateY(calc(var(--y, 0) * 1deg)) rotateZ(calc(var(--z, 0) * 1deg))
            scale(0.9) translateX(0%);

        .front-cover {
            transform: rotateY(-180deg);
        }
        .inner-left {
            transform: rotateY(10deg);
        }
        .inner-right {
            transform: rotateY(-5deg);
        }
    }
}
