.welcome-book {
    transform-style: preserve-3d;
    perspective: 2000px;

    --x: 10;
    --y: 0;
    --z: 0;
    --scale: 1;
    --xOffset: -25%;
    --xOffsetOpen: -25%;
    --opennessLeft: 10deg;
    --opennessRight: 0deg;
    --openness: 0%;

    @apply w-[175%];
    @apply md:w-full;

    @apply grid grid-cols-2 aspect-[16/5] origin-center;
    @apply transition-transform duration-75;

    transform: rotateX(calc(var(--x, 0) * 1deg))
        rotateY(calc(var(--y, 0) * 1deg)) rotateZ(calc(var(--z, 0) * 1deg))
        scale(var(--scale)) translateX(var(--xOffset));

    & > * {
        @apply row-start-1 col-span-1 row-span-1;
        @apply bg-base-100 border;
        @apply grid place-items-center;
        @apply transition-transform duration-1000;
        grid-area: 1 / 1;
        transform-style: preserve-3d;
    }

    .front-cover {
        @apply col-start-2 origin-left pointer-events-none;
        transform: rotateY(calc(var(--opennessLeft) * -1));
    }
    .inner-left {
        /* Small screen positioning */
        @apply col-start-2 row-start-1 origin-top-left;
        transform: rotateY(calc(var(--opennessRight) * -1));
    }
    .inner-right {
        @apply col-start-2 row-start-2 origin-top-left;
        transform: rotateY(calc(var(--opennessRight) * -1))
            rotateX(calc((var(--opennessLeft) - 180deg) * -1));
        backface-visibility: hidden;
    }

    &.active,
    &:focus-within {
        --openness: 100%;
        --opennessLeft: 170deg;
        --opennessRight: 5deg;
        --xOffset: var(--xOffsetOpen);
    }

    &:not(.active, :focus-within) a {
        @apply pointer-events-none;
    }

    /* Medium+ screen positioning */
    @screen md {
        --scale: 0.9;
        --xOffset: -25%;
        --xOffsetOpen: 0%;

        & > * {
            backface-visibility: hidden;
        }

        .front-cover {
            transform: rotateY(calc(var(--opennessLeft) * -1)) scaleX(0.94);
        }

        .inner-left {
            @apply col-start-1 row-start-1 origin-right;
            transform: rotateY(calc((var(--opennessLeft) - 180deg) * -1))
                scaleX(0.94);
        }

        .inner-right {
            @apply col-start-2 row-start-1 origin-left;
            transform: rotateY(calc(var(--opennessRight) * -1));
        }
    }
}
